__pycache__/
.art/
# .env
.venv/
.git/
.github/
.claude/
.ruff_cache/
grpo_trainer_lora_model/
logs/
shared_cache.db
streaming-chat-completions/
unsloth_compiled_cache/
wandb/
docs/node_modules/
dist/
replays/
trajectories/
.DS_Store
.vscode/
*.pyc
examples/*/data/
examples/*/.venv/
examples/*/wandb/